:root {
  --main-color: rgb(48, 56, 100);
  --split-comp-r: rgb(138,96,73);
  --split-comp-l: rgb(116,138,73);
  --dark-bg-text: whitesmoke;
  --light-bg-text: #191919;
}

.App {
  color: var(--light-bg-text)
}

.app-body {
  padding-top: 6em;
}

header {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--main-color);
  color: var(--dark-bg-text);
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.branding img {
  height: 4em;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* MENU AND NAV STYLING */
.menu-container {
  display: flex;
}

.menu {
  align-self: center;
}

.menu i {
  font-size: 2em;
}

.menuNav {
  overflow-y: scroll;
  list-style-type: none;
  position: fixed;
  background-color: var(--main-color);
  right: -40px;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 90vw;
  z-index: 9;
  transition: all 0.4s;

}

.menuNav.showMenu {
  width: 40%;
  box-shadow: -2px 14px 3px var(--light-bg-text);
  transition: all 0.4s;
}
.menuNav a {
  text-align: right;
  display: block;
  padding: 10px 50px;
  font-weight: bold;
}

/* PAGE HEAD STYLING */
.page-head {
  text-align: center;
}

.page-head-img {
  background-size: cover;
  background-position: center;
  height: 100px;
  border-bottom: 1px solid var(--dark-bg-text);
}

.page-emblem {
  margin-top: -50px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border: 1px solid var(--dark-bg-text);
  background-color: var(--dark-bg-text);
  border-radius: 360px;
}

.page-links {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--dark-bg-text)
}


/* CARD STYLING */
.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-shadow: 0 3px 5px whitesmoke;
}

.card .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card .post-details img {
  width: 2em;
  height: 2em;
  object-fit: contain;
  border-radius: 360px;
}

.card .post-details a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  color: inherit;
}

.card .row div {
  display: flex;
  align-items: center;
}

.content-row img{
  width: 100%;
  border-radius: 5px;
}

.card .score {
  padding: 0 0.5em;
}

.actions {
  padding-top: 1em;
  font-size: 1.5em;
}

i:active {
  color: var(--dark-bg-text);
}

.clicked {
  color: var(--split-comp-r)
}

@media screen and (min-width: 768px){
  .app-body {
    margin: 0 10%;
  }
}
@media screen and (min-width: 1024px){
  .app-body {
    margin: 0 20%;
  }
}
@media screen and (min-width: 1440px){
  .app-body {
    margin: 0 30%;
  }
}
